<header class="header-top">
	<div class="l-container l-flex-container ">
		<div class="header-top__logo">
			<img src="assets/img/logo.png" alt="">
		</div>
		<ul class="header-top__nav">
			<li><a href="" title="">TRANG CHỦ</a></li>
			<li><a href="" title="">GIỚI THIỆU</a></li>
			<li class="is-dropdown">
				<a href="" title="">SẢN PHẨM</a>
				<ul class="nav-sub">
					<li><a href="" title="">sub 1</a></li>
					<li><a href="" title="">sub 2</a></li>
				</ul>
			</li>
			<li><a href="" title="">TIN TỨC</a></li>
			<li><a href="" title="">LIÊN HỆ</a></li>
		</ul>
		<div class="header-top__cart">
			<a href="" class="mini-cart">
				<div class="cart-icon">
					<i class="fa fa-shopping-cart"></i>
				</div>
				<div class="cart-info"><p><span>Giỏ hàng:</span> 2</p></div>
			</a>
			<!-- <div class="cart-content">
				<p class="cart-null">Giỏ hàng của bạn đang trống</p>
				<a class="cart-continue" href="" title="">Tiếp tục mua hàng</a>
			</div> -->
			<div class="cart-content">
				<ul class="list-cart">
					
					<li>
						<div class="cart-thumnail">
							<a href="" title=""><img src="assets/img/products/2.jpg" alt=""></a>
						</div>
						<div class="cart-info">
							<a class="info-title" href="" title="">Áo thun nữ Belike</a>
							<p class="info-price">95.200₫ x 1</p>
							<a class="info-remove" href="" title=""><i class="far fa-trash-alt"></i></a>
						</div>
					</li>

					<li>
						<div class="cart-thumnail">
							<a href="" title=""><img src="assets/img/products/1.jpg" alt=""></a>
						</div>
						<div class="cart-info">
							<a class="info-title" href="" title="">Áo sơ mi nữ VNXK</a>
							<p class="info-price">95.200₫ x 1</p>
							<a class="info-remove" href="" title=""><i class="far fa-trash-alt"></i></a>
						</div>
					</li>

				</ul>
				<div class="price-total">
					<span>TỔNG TIỀN:</span>
					<span>375.200đ</span>
				</div>
				<div class="cart-btn">
					<a class="c-btn1" href="" title="">GIỎ HÀNG</a>
					<a class="c-btn2 mt10" href="" title="">THANH TOÁN</a>
				</div>
			</div>

		</div>
	</div>
</header>