<div class="l-left-side">
	<h3>DANH MỤC</h3>
	<ul class="l-left-side__list">
		<li class="is_subside">
			<i class="fa fa-female"></i><a href="" title="">Thời trang</a>
			<ul class="l-left-side__sub">
				<li><a href="" title="">ÁO SƠ MI</a></li>
				<li><a href="" title="">TÚI</a></li>
				<li><a href="" title="">PHỤ KIỆN</a></li>
				<li><a href="" title="">ÁO</a></li>
				<li><a href="" title="">TRANG PHỤC</a></li>
			</ul>
		</li>
		<li><i class="fas fa-utensils"></i><a href="" title="">Thực phẩm</a></li>
		<li><i class="fa fa-camera"></i><a href="" title="">Điện tử</a></li>
		<li><i class="fa fa-suitcase"></i><a href="" title="">Nội thất</a></li>
		<li><i class="far fa-heart"></i><a href="" title="">Nữ trang</a></li>
		<li><i class="fa fa-heart"></i><a href="" title="">Mỹ phẩm</a></li>
		<li><i class="fa fa-puzzle-piece"></i><a href="" title="">Quà tặng</a></li>
	</ul>
	
	<div class="l-left-side__image c-border-scale">
		<img src="assets/img/banner_img_1.jpg" alt="">
		<span class="overlay"></span>
	</div>

	<div class="l-left-side__image c-border-scale">
		<img src="assets/img/banner_img_2.jpg" alt="">
		<span class="overlay"></span>
	</div>

</div>
<!-- end l-left-side -->