<div class="l-right-side">
	<div class="l-right-side__promotion">
		<h3>SẢN PHẨM KHUYẾN MÃI</h3>
		<div class="promotion-list">
			<div class="list-thumnail">
				<a href="" title=""><img src="assets/img/products/m1.jpg" alt=""></a>
			</div>
			<div class="list-content">
				<a href="" title="">Son môi itachi</a>
				<p><span>600.000đ</span>500.000đ</p>
			</div>
		</div>
		<div class="promotion-list">
			<div class="list-thumnail">
				<a href="" title=""><img src="assets/img/products/1.jpg" alt=""></a>
			</div>
			<div class="list-content">
				<a href="" title="">Bikini áo lửng</a>
				<p><span>600.000đ</span>500.000đ</p>
			</div>
		</div>
		<div class="promotion-list">
			<div class="list-thumnail">
				<a href="" title=""><img src="assets/img/products/2.jpg" alt=""></a>
			</div>
			<div class="list-content">
				<a href="" title="">Áo thun nữ Belike</a>
				<p><span>600.000đ</span>500.000đ</p>
			</div>
		</div>
		<div class="promotion-list">
			<div class="list-thumnail">
				<a href="" title=""><img src="assets/img/products/m2.jpg" alt=""></a>
			</div>
			<div class="list-content">
				<a href="" title="">Mascara dầy và cong</a>
				<p><span>600.000đ</span>500.000đ</p>
			</div>
		</div>
	</div>
	<!-- end l-right-side__promotion -->
	<div class="l-right-side__registering">
		<h3>ĐĂNG KÝ NHẬN TIN</h3>
		<input type="text" placeholder="Email của bạn" name="">
		<button type="submit">ĐĂNG KÝ</button>
	</div>
</div>
<!-- end l-right-side -->