/*------------------------------------------------------------
	p-top
------------------------------------------------------------*/
.p-top1{
	margin-top: 13px;
	padding-top: 17px;
}
.p-top1__content {
	width: 54%;
	// background-color: yellow;
	
}