@charset "UTF-8";

@mixin fs($fontSize, $baseFontSize:10){
	font-size: #{$fontSize / $baseFontSize}em;
}

%cf {
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

@mixin cf{
	@if $support-ie6 or $support-ie7 {
		*zoom: 1;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

@font-face {
  font-family: Roboto;
  src: url(../lib/webfonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
	font-family: Helvetica;
	src: url(../lib/webfonts/Helvetica/HelveticaNeue-Light.otf);
}

@mixin tablet{
	@media screen and (max-width: #{$tablet}){
		@content;
	}
}

@mixin sp{
	@media screen and (max-width: #{$sp}){
		@content;
	}
}

@keyframes effect-hover {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}


